{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
            {% for receipt in account_list %}
                <tr>
                    <td> {{ receipt.name }} </td>
                    <td> {{ receipt.number }} </td>
                    <td> {{ receipt.receipts.count }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
